<div id="welcomeheader">
	<div class="container">
		<div class="logo <?php echo Wo_RightToLeft('pull-left');?>">
			<a href="<?php echo $wo['config']['site_url'];?>"><img src="<?php echo $wo['config']['theme_url'];?>/img/logo-alt.<?php echo $wo['config']['logo_extension'];?>" alt="Logo"> </a>
		</div>
		<ul class="nav navbar-nav navbar-right <?php echo Wo_RightToLeft('pull-right');?>">
			<li class="lang_selct dropdown">
				<a href="#" class="dropdown-toggle mdbtn main" data-toggle="dropdown" role="button" aria-expanded="false">
					<svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-translate" style="margin-top: -3px;width: 15px;height: 15px;vertical-align: middle;"><path d="M12.87,15.07L10.33,12.56L10.36,12.53C12.1,10.59 13.34,8.36 14.07,6H17V4H10V2H8V4H1V6H12.17C11.5,7.92 10.44,9.75 9,11.35C8.07,10.32 7.3,9.19 6.69,8H4.69C5.42,9.63 6.42,11.17 7.67,12.56L2.58,17.58L4,19L9,14L12.11,17.11L12.87,15.07M18.5,10H16.5L12,22H14L15.12,19H19.87L21,22H23L18.5,10M15.88,17L17.5,12.67L19.12,17H15.88Z" /></svg> <?php echo $wo['lang']['language'];?>
				</a>
				<ul class="dropdown-menu dropdown-menu-right sun_lang_select_menu">
					<?php
						$langs = Wo_LangsNamesFromDB();
						if (count($langs) > 0) {
							foreach ($langs as $key => $wo['langs']) {
								$language = $wo['langs'];
								$languages_name = ucfirst($wo['langs']);
								$link = ($wo['config']['seoLink'] == 1) ? '?lang=' . $language: '?&lang=' . $language;
					?>
						<li class="language_select"><a href="<?php echo $link;?>" rel="nofollow" class="<?php echo $languages_name;?>"><?php echo $languages_name;?></a></li>
					<?php } } ?>
				</ul>
			</li>
		</ul>
	</div>
</div>